<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-8 col-md">
            <h1>Moje projekty</h1>
        </div>
        <div class="col-4 col-md d-flex align-items-center">
            <button type="button" class="btn btn-primary button-right">Vytvořit projekt</button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col table-responsive-md">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Název</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col" class="text-right">Členové</th>
                    <th scope="col">Začátek</th>
                    <th scope="col">Konec</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of myProjects">
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.category.name}}</td>
                    <td class="text-right">{{project._registredPositionsCount}}/{{project._positionsCount}}</td>
                    <td>{{project.start | date: 'yyyy-MM-dd'}}</td>
                    <td>{{project.end | date: 'yyyy-MM-dd'}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h1>Přihlášené projekty</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col table-responsive-md">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Název</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Pozice</th>
                    <th scope="col">Začátek</th>
                    <th scope="col">Konec</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>{{project.category.name}}</td>
                    <td>{{project.author.name}}</td>
                    <td class="text-right"></td>
                    <td>{{project.start | date: 'yyyy-MM-dd'}}</td>
                    <td>{{project.end | date: 'yyyy-MM-dd'}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
