<div class="container">
    <h1>Založení projektu</h1>
    <form action="">
        <div class="row">
            <div class="form-group col-md-8">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text text-primary">Název projektu</span>
                    </div>
                    <input type="text" class="form-control" name="proj_name" id="proj_name" required>
                </div>
            </div>

            <div class="form-group col-md-4">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text text-primary">Kategorie</span></div>
                    <input type="text" class="form-control" name="proj_category" id="proj_category" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text text-primary">Tagy</span></div>
                    <input type="text" class="form-control" name="proj_tags" id="proj_tags" required>
                </div>
            </div>

            <div class="form-group col">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text text-primary">Začátek</span></div>
                    <input type="date" class="form-control" name="proj_start" id="proj_start" required>
                </div>
            </div>

            <div class="form-group col">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text text-primary">Konec</span></div>
                    <input type="date" class="form-control" name="proj_end" id="proj_end" required>
                </div>
            </div>
        </div>


        <div class="card">
            <h3 class="card-header text-primary">Popis projektu</h3>
            <div class="card-body">
                <textarea name="" id=""></textarea>
            </div>
        </div>

        <button id="addPos" type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addPositionModal">Přidat pozici</button>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Pozice</th>
                <th>Popis</th>
                <th>Počet</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div>
            <div class="modal fade" id="addPositionModal" tabindex="-1" role="dialog" aria-labelledby="addPositionModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="addPositionModalLabel">Nová pozice</h3>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="position" class="col-form-label">Pozice:</label>
                                    <input type="text" class="form-control" id="position">
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-form-label">Popis:</label>
                                    <textarea maxlength="100" class="form-control" id="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="count">Požadovaný počet:</label>
                                    <input type="number" class="form-control" min="0" id="count">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                            <button type="button" class="btn btn-primary">Přidat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>