<div class="container">
    <div class="row mt-4">
        <div class="col-sm">
            <h1>Projekty</h1>
        </div>
        <div class="col-auto d-flex align-items-center">
            <form class="form-inline">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <input class="form-control search-input-button-group" type="search" placeholder="Search" aria-label="Search">
                    <button type="button" class="btn btn-outline-secondary">Vyhledat</button>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle"></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col d-flex align-items-center">
            <button type="button" class="btn btn-primary button-right">Vytvořit projekt</button>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Název</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Autor</th>
                    <th scope="col">???</th>
                    <th scope="col">Začátek</th>
                    <th scope="col">Konec</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
