@import "../../global";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";


:host .body {

  padding-top: 40px;
  background-color: lightgray;
  width: 100%;
  height: 100vh;

  .container {

    h2{
      margin-bottom: 30px;
    }

    #login-logo {
      width: 80%;
      margin-bottom: 20px;
    }

    .col {
      background-color: white;
      border-radius: 0.35rem;
      padding: 45px;
      padding-top: 20px;
    }

    button {
      width: 100%;
    }

  }
}