<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12 col-md">
            <h1>Co je nové?</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Testovaci projekt 1</h5>
                    <p class="card-text">Description with supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/detailprojektu/1" class="btn btn-primary">Zobrazit</a>
                </div>
            </div>
            <br>
        </div>
        <br>
        <div class="col col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Testovaci projekt 2</h5>
                    <p class="card-text">Description with supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/detailprojektu/2" class="btn btn-primary">Zobrazit</a>

                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Testovaci projekt 3</h5>
                    <p class="card-text">Description with supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/detailprojektu/3" class="btn btn-primary">Zobrazit</a>
                </div>
            </div>
            <br>
        </div>
        <div class="col col-sm-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">Testovaci projekt 4</h5>
                    <p class="card-text">Description with supporting text below as a natural lead-in to additional content.</p>
                    <a routerLink="/detailprojektu/4" class="btn btn-primary">Zobrazit</a>
                </div>
            </div>
            <br>
        </div>
    </div>


</div>
